[ghq]
    root = ~/.ghq
    root = ~/.go/src
[user]
	name = kkanazaw
	email = new.frontier2006@gmail.com

[pr-release "branch"]
	staging = develop

[core]
	sshCommand = ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
	excludesfile = /Users/kkanazaw/.gitignore_global
[credential]
	interactive = never
	authority = Basic
	helper = osxkeychain
