[ghq]
    root = ~/.ghq
[user]
	name = kkanazaw
	email = new.frontier2006@gmail.com

[pr-release "branch"]
	staging = develop

[core]
	sshCommand = ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
	excludesfile = /Users/kkanazaw/.gitignore_global
[credential]
	interactive = never
	authority = Basic
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/kkanazaw/Library/Preferences/netlify/helper/git-config
[commit]
	verbose = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
